<button type="button" 
  data-action="media-picker#selectImage reveal#hide" 
  data-image-id="<%= @image.id %>"
  data-signed-blob-id="<%= @image.file.blob.signed_id %>"
  data-filename="<%= @image.file.filename %>"
  data-thumbnail="<%= helpers.thumbnail_url(@image) %>"
  class="w-full h-40 bg-gray-100 rounded-md overflow-hidden">

  <%= image_tag helpers.thumbnail_url(@image), class: 'object-contain h-40 w-full', data: {controller: "image-fade-in"} %>
</button>
