<%= form_with model: @page, url: @page.new_record? ? spina.admin_pages_path : spina.admin_page_path(@page) do |f| %>

  <div class="bg-white border-b border-gray-200 p-6 pl-8 sticky top-0 relative z-20">
    <div class="flex justify-between items-center">
      <div class="text-2xl font-normal text-gray-800 flex items-center">
        <%= link_to 'Pages', spina.admin_pages_path, class: 'text-gray-400' %>
        <svg class="w-5 h-5 mx-2 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
        <%= @page.menu_title || t("spina.pages.new") %>
      </div>

      <button type="submit" class="flex items-center h-9 px-2 pr-4 ml-3 rounded-md border bg-green-500 border-green-600 active:shadow-inner text-white text-sm font-medium leading-none hover:bg-green-600 leading-none shadow-sm">
        <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
        <%= t("spina.pages.save") %>
      </button>
    </div>
  </div>

  <div class="p-8 flex">
    <div class="flex-1">
      <div>
        <label class="font-medium text-gray-700">
          <%= Spina::Page.human_attribute_name(:title) %>
        </label>

        <%= f.text_field :title, placeholder: Spina::Page.human_attribute_name(:title), class: "mt-1 form-input block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-md text-gray-700 font-medium sm:leading-5" %>

        <% parts = (current_theme.view_templates.find{|v|v[:name].to_s == f.object.view_template.to_s}&.dig(:parts) || []) %>

        <%= f.fields_for "#{@locale}_content".to_sym, build_parts(f.object, parts) do |ff| %>
          <%= ff.hidden_field :type, value: ff.object.class %>
          <%= ff.hidden_field :name %>
          <%= ff.hidden_field :title %>

          <div data-name="<%= ff.object.name %>">
            <%= render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.to_s)}/form", f: ff %>
          </div>
        <% end %>
      </div>

      <div class="bg-whitez rounded-md borderz border-gray-200 shadow-smz mt-12 p-6z">
        <div class="">
          <label for="first_name" class="block font-medium leading-5 text-gray-700 flex items-center">
            <svg class="h-4 w-4 mr-1 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
            <%= Spina::Page.human_attribute_name(:seo_title) %>
          </label>
          <div class="text-gray-400 text-sm">Ensure your search result looks good in search engines</div>

          <%= f.text_field :seo_title, placeholder: Spina::Page.human_attribute_name(:seo_title_placeholder), value: f.object.seo_title(fallback: false, default: nil), class: "form-input mt-3 block w-full py-2 px-3 border border-gray-300 shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
        </div>

        <%= f.text_field :description, placeholder: Spina::Page.human_attribute_name(:description_placeholder), class: "form-input resize-none block w-full py-2 px-3 border border-gray-300 mt-3 shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>

        <% if false %>
          <label for="first_name" class="mt-6 block font-medium leading-5 text-gray-700">Preview</label>

          <div class="bg-white border border-gray-200 shadow-sm rounded-md px-6 py-5 mt-3 max-w-2xl">
            <div class="text-xs text-gray-500">www.misterhop.com › ontdek › virtu...</div>
            <div class="text-lg text-blue-500">Virtuele bierproeverij organiseren? - Beleef het samen - Mr. Hop</div>
            <div class="text-gray-700 text-sm">
              Ben je met meer dan 4 personen maak dan gebruik van bijvoorbeeld Facetime, Skype, Google Hangouts, Zoom, Microsoft Teams of het populaire Houseparty.
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="max-w-xs flex-1 ml-6 border-l border-gray-200 pl-6 -mt-8 pt-8 -mr-8 pr-6">
      <div>
        <div class="mb-6">
          <div class="mt-1">
            <% if false %>
              <div class="mt-6">
                <div class="col-span-1 py-2">
                  <label for="country" class="block text-sm font-medium leading-5 text-gray-700">Category</label>
                  <div class="text-sm text-gray-500">Where should your page live</div>
                </div>

                <div class="col-span-2">
                  <select id="country" class="mt-1 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                    <option>Pages</option>
                  </select>
                </div>
              </div>
            <% end %>

            <div class="">
              <div class="col-span-1">
                <label for="ancestry" class="block text-sm font-medium leading-5 text-gray-700">
                  <%= Spina::Page.human_attribute_name :ancestry %>
                </label>
              </div>

              <div class="col-span-2">
                <%= f.select :parent_id, page_ancestry_options(f.object), {include_blank: Spina::Page.human_attribute_name(:no_parent)}, class: "mt-1 text-gray-700 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
            </div>

            <div data-controller="reveal">
              <div class="flex justify-end">
                <button type="button" class="text-gray-400 font-medium py-2 mt-4 text-sm flex items-center justify-end leading-none" data-action="reveal#toggle">
                  advanced settings
                  <svg class="w-4 h-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>

              <div data-reveal hidden data-transition>
                <% unless @page.custom_page? %>
                  <div class="col-span-1 mt-6">
                    <label for="country" class="block text-sm font-medium leading-5 text-gray-700"><%= Spina::Page.human_attribute_name :view_template %></label>
                  </div>

                  <div class="col-span-2">
                    <%= f.select :view_template, options_for_select(current_theme.view_templates.map { |template| [template[:title], template[:name], {'data-page-parts' => template[:page_parts]}] }, @page.view_template), {}, {class: "mt-1 text-gray-700 block form-select w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5"} %>
                  </div>
                <% end %>

                <div class="mt-8">
                  <div class="col-span-1 mt-6">
                    <label for="country" class="block text-sm font-medium leading-5 text-gray-700">
                      <%= Spina::Page.human_attribute_name :show_in_menu %>  
                    </label>

                    <div class="text-sm leading-5">
                      <p class="text-gray-500"><%= Spina::Page.human_attribute_name :show_in_menu_description %></p>
                    </div>
                  </div>

                  <div class="mt-1">
                    <button type="button" data-controller="switch" data-action="click->switch#toggle">
                      <%= f.check_box :show_in_menu, hidden: true, data: {target: "switch.checkbox"} %>

                      <div data-target="switch.container" class="w-14 h-8 bg-gray-200 rounded-full flex items-center p-1 cursor-pointer transition transition-colors duration-200">
                        <div data-target="switch.knob" class="h-6 w-6 rounded-full bg-white shadow-sm transform transition transition-transform duration-200"></div>
                      </div>
                    </button>
                  </div>
                </div>

                <div class="mt-6">
                  <div class="text-sm leading-5 w-full">
                    <label for="comments" class="font-medium text-gray-700">
                      <%= Spina::Page.human_attribute_name :menu_title %>
                    </label>

                    <%= f.text_field :menu_title, placeholder: Spina::Page.human_attribute_name(:show_in_menu_placeholder), value: f.object.menu_title(fallback: false, default: nil), class: "form-input shadow-sm text-sm w-full mt-2" %>
                  </div>
                </div>

                <div class="mt-6">
                  <div class="text-sm leading-5 w-full">
                    <label for="comments" class="font-medium text-gray-700"><%= Spina::Page.human_attribute_name(:url_title) %></label>
                    <p class="text-gray-500"><%= Spina::Page.human_attribute_name :url_title_description %></p>

                    <%= f.text_field :url_title, class: "form-input shadow-sm text-sm w-full mt-2", placeholder: f.object.slug || Spina::Page.human_attribute_name(:url_title_placeholder), value: f.object.url_title(fallback: false, default: nil)&.parameterize %>
                  </div>
                </div>

                <div class="mt-8">
                  <div class="col-span-1 mt-6">
                    <label for="country" class="block text-sm font-medium leading-5 text-gray-700">
                      <%= Spina::Page.human_attribute_name :skip_to_first_child %>  
                    </label>

                    <div class="text-sm leading-5">
                      <p class="text-gray-500"><%= Spina::Page.human_attribute_name :skip_to_first_child_description %></p>
                    </div>
                  </div>

                  <div class="mt-1">
                    <button type="button" data-controller="switch" data-action="click->switch#toggle">
                      <%= f.check_box :skip_to_first_child, hidden: true, data: {target: "switch.checkbox"} %>

                      <div data-target="switch.container" class="w-14 h-8 bg-gray-200 rounded-full flex items-center p-1 cursor-pointer transition transition-colors duration-200">
                        <div data-target="switch.knob" class="h-6 w-6 rounded-full bg-white shadow-sm transform transition transition-transform duration-200"></div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>