<%= form_with model: @page, url: spina.admin_page_path(@page), data: {controller: "notifications tabs", action: "ajax:error->notifications#setError", tabs_active: "cursor-default text-gray-900 bg-spina-dark bg-opacity-10", tabs_inactive: "cursor-pointer bg-transparent text-gray-400 border-transparent"} do |f| %>
  <%= hidden_field_tag :locale, @locale %>
  
  <%= render Spina::HeaderComponent.new do |header| %>
    <% header.with(:after_breadcrumbs) do %>
      <% if @page.draft? %>
        <span class="text-gray-400 ml-2 text-sm">(draft)</span>
      <% end %>
      
      <%= link_to @page.materialized_path, class: 'px-3 py-2 flex items-center text-gray-400 hover:text-gray-700', target: :blank, data: {turbolinks: false} do %>
        <%= icon("external-link", css: "w-4 h-4") %>
      <% end %>
    <% end %>
    
    <% header.with(:actions) do %>
      <%= render Spina::Pages::ActionsComponent.new(page: @page, locale: @locale) %>
    <% end %>
    
    <% header.with(:navigation) do %>
      <nav class="-mb-3 mt-4">
        <ul class="inline-flex w-auto rounded-md bg-white">
          <button type="button" class="block px-3 leading-relaxed py-1 hover:text-gray-800 rounded-md text-gray-400 font-medium text-sm flex items-center" data-action="tabs#show" data-tabs-target="button" data-pane-id="page_content">
            <%= icon('document-text', css: 'w-4 h-4 m4-1 -ml-1 opacity-75') %>
            Page content
          </button>
          <button type="button" class="block px-3 leading-relaxed py-1 rounded-md hover:text-gray-800 text-gray-400 font-medium text-sm flex items-center" data-action="tabs#show" data-tabs-target="button" data-pane-id="seo">
            <%= icon('search', css: 'w-4 h-4 mr-1 -ml-1 opacity-75') %>
            Search engines
          </button>
          <button type="button" class="block px-3 leading-relaxed py-1 rounded-md hover:text-gray-800 text-gray-400 font-medium text-sm flex items-center" data-action="tabs#show" data-tabs-target="button" data-pane-id="advanced">
            <%= icon('cog', css: 'w-4 h-4 mr-1 -ml-1 opacity-75') %>
            Advanced
          </button>
        </ul>
      </nav>
    <% end %>
  <% end %>

  <div class="p-4 md:p-8">
    <% Mobility.with_locale(@locale) do %>
      <div data-notifications-target="list"></div>
      <div data-tabs-target="pane" id="page_content">
        <%= render partial: 'form_page_content', locals: {f: f} %>
      </div>

      <div data-tabs-target="pane" id="seo">
        <%= render partial: 'form_seo', locals: {f: f} %>
      </div>

      <div data-tabs-target="pane" id="advanced">
        <%= render partial: 'form_advanced', locals: {f: f} %>
      </div>
    <% end %>
  </div>
<% end %>