<div class="relative">
  <div class="bg-white border-b border-gray-200 p-4 pb-6 md:p-6 md:pl-8 sticky top-0 z-20">
    <div class="flex flex-col md:flex-row justify-between md:items-center">
      <div class="text-2xl font-normal text-gray-800">
        Pages
      </div>
    </div>

    <nav class="-ml-4 -mb-6 mt-2">
      <ul class="flex">
        <%= render Spina::TabLinkComponent.new(label: t('spina.website.all_pages'), href: spina.admin_pages_path, active: controller_name == "pages") %>

        <%= render Spina::TabLinkComponent.new(label: "Other content", href: '#') %>

        <% Spina::Navigation.sorted.each do |nav| %>
          <%= render Spina::TabLinkComponent.new(label: nav.label, href: spina.admin_navigation_path(nav)) %>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="flex p-4 relative z-20 md:absolute md:top-0 md:right-0 md:h-full md:items-center md:pr-8">
    <button type="button" class="btn pl-3 w-1/2 md:w-auto">
      <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d="M5 12a1 1 0 102 0V6.414l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L5 6.414V12zM15 8a1 1 0 10-2 0v5.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L15 13.586V8z" />
      </svg>
      Change order
    </button>

    <div class="relative w-1/2 ml-3 md:w-auto" data-controller="reveal" data-reveal-away>
      <button type="button" class="btn btn-primary pl-2 w-full" data-action="reveal#toggle">
        <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <%=t 'spina.pages.new' %>
      </button>

      <div hidden data-reveal data-transition class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg border border-gray-200">
        <div class="rounded-md bg-white shadow-xs">
          <div class="py-1">
            <% current_theme.new_page_templates.each do |template| %>
              <%= link_to spina.new_admin_page_path(view_template: template[0], format: :modal), class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900", data: {controller: "remote-modal"} do %>
                <div class="font-medium text-gray-700"><%= template[1] %></div>
                <div class="text-gray-400"><%= template[2] %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="md:m-8 bg-white md:rounded-md border-l-0 border-r-0 border md:border-r md:border-l border-gray-200 border-b-0 overflow-hidden shadow-sm">
  <%= render Spina::PageListComponent.new(pages: @pages) %>
</div>
