<nav class="w-full md:max-w-xs bg-spina-dark md:bg-gradient-to-b from-spina-dark to-spina-light relative md:overflow-hidden" data-controller="navigation">
  <div class="flex flex-row md:flex-col justify-between h-full w-full bg-black p-1 md:p-3 bg-opacity-0 duration-300 ease-in-out transition-colors md:bg-opacity-50" data-navigation-target="primary">

    <ul class="flex md:flex-col">
      <%= render Spina::Menu::ListComponent.new(:content) do |nav| %>
        <% nav.with(:icon) do %>
          <%= helpers.heroicon('document-text', style: :solid, class: 'w-8 h-8 text-white mr-3') %>
          
          <div class="hidden md:block text-white font-semibold md:block transform -translate-x-2 ease-in-out duration-300 opacity-0 transition-all" data-navigation-target="label">
            Content
          </div>
        <% end %>

        <% nav.with(:links) do %>
        
          <%= render Spina::Menu::LinkComponent.new t('spina.website.pages'), helpers.spina.admin_pages_path, active: controller_name.in?(%w(pages resources)) %>
          
          <%= render Spina::Menu::LinkComponent.new t('spina.website.menus'), helpers.spina.admin_navigations_path, active: controller_name == "navigations" %>
          
          <%= render Spina::Menu::LinkComponent.new "Layout", helpers.spina.edit_admin_layout_path, active: controller_name == "layout" %>
          
          <%= render Spina::Menu::LinkComponent.new t('spina.website.media_library'), helpers.spina.admin_images_path, active: controller_name.in?(%w(images media_folders attachments)) %>
          
          <%= render Spina::Hooks::HookComponent.new(partial: "website_secondary_navigation") %>
        <% end %>
      <% end %>
      
      <%= render Spina::Hooks::HookComponent.new(partial: "primary_navigation") %>

      <%= render Spina::Menu::ListComponent.new(:settings) do |nav| %>
        <% nav.with(:icon) do %>
          <%= helpers.heroicon('cog', style: :solid, class: 'w-8 h-8 text-white mr-3') %>
          
          <div class="hidden md:block text-white font-semibold md:block transform -translate-x-2 ease-in-out duration-300 opacity-0 transition-all" data-navigation-target="label">
            Settings
          </div>
        <% end %>

        <% nav.with(:links) do %>
          <%= render Spina::Menu::LinkComponent.new("General", helpers.spina.edit_admin_account_path, active: controller_name == "accounts") %>
          <%= render Spina::Menu::LinkComponent.new(t('spina.website.theme'), helpers.spina.edit_admin_theme_path, active: controller_name == "theme") %>
          <%= render Spina::Menu::LinkComponent.new("Users", helpers.spina.admin_users_path, active: controller_name == "users") %>
          
          <%= render Spina::Hooks::HookComponent.new(partial: "settings_secondary_navigation") %>
        <% end %>
      <% end %>
    </ul>

    <ul>
      <li>
        <!-- <button type="button" class="flex w-full items-center p-1 h-14 md:h-auto" data-action="navigation#closeAllNavigations"> -->
        <%= link_to helpers.spina.admin_logout_path, class: 'p-3 w-14 block flex justify-center opacity-50 hover:opacity-100 transition duration-200 ease' do %>
          <%= helpers.heroicon('logout', style: :solid, class: 'h-8 w-8 text-white') %>
          
          <!-- 
          <%= link_to t('spina.logout'), helpers.spina.admin_logout_path, class: "hidden md:block text-white font-semibold md:block ml-1 transform -translate-x-2 ease-in-out duration-300 opacity-0 transition-all block w-full p-3 text-left", data: {navigation_target: "label", turbo: false} %> -->
        <% end %>
      </li>
    </ul>

  </div>
</nav>
