<div class="mt-6">
  <label for="price" class="block text-sm leading-5 font-medium text-gray-700"><%= f.object.title %></label>
  <div class="mt-1 relative rounded-md shadow-sm">
    <%= f.hidden_field :content, id: "#{f.object.object_id}_input" %>

    <div id="<%= f.object.object_id %>_trix-toolbar" class="toolbar mb-2 flex items-center">
      <div class="mr-2 flex">
        <button type="button" class="bg-white border rounded px-2 py-1 w-10" data-format="bold">B</button>
        <button type="button" class="bg-white border border-l-0 w-10 rounded px-2 py-1" data-format="italic">I</button>
      </div>
      <button type="button" data-format="strike">S</button>
      <button type="button" data-format="quote">Q</button>
      <button type="button" data-format="code">C</button>
      <button type="button" data-format="bullet">UL</button>
      <button type="button" data-format="number">OL</button>
      <button type="button" data-format="outdent">></button>
      <button type="button" data-format="indent"><</button>
    </div>

    <trix-editor class="trix-content form-input p-4 text-sm" toolbar="<%= f.object.object_id %>_trix-toolbar" input="<%= f.object.object_id %>_input"></trix-editor>
  </div>
</div>