<%= render Spina::HeaderComponent.new do |header| %>
  <% header.with(:actions) do %>
    <%= button_tag type: :submit, form: dom_id(@account), class: 'btn btn-primary', data: {controller: "button", action: "button#loading", loading_message: "Saving..."} do %>
      <%= heroicon('check', style: :solid, class: 'w-5 h-5 mr-1 -ml-2') %>
      Save changes
    <% end %>
  <% end %>
<% end %>
  
<%= form_with model: @account, url: spina.admin_layout_path, id: dom_id(@account) do |f| %>
  <%= hidden_field_tag :locale, @locale %>
  
  <div class="pt-0 p-4 md:p-8 md:pt-2">
    <% if false %>
      <div class="grid grid-cols-3 gap-x-6 mt-6">
        <div class="col-span-1">
          <%= label_tag :profile, class: "font-medium block text-lg" do %>
            Theme
          <% end %>
          <div class="text-gray-600 text-sm">By changing your theme, everything changes.</div>
        </div>
        
        <div class="col-span-2">
          <div class="bg-white p-5 shadow-sm rounded-lg border-gray-200 border">          
            <%= f.label :theme, class: 'font-medium text-sm text-gray-700 block' %>
            <%= f.select :theme, Spina::Theme.all.map(&:name), {}, class: "mt-1 form-select" %>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if Spina::Current.theme.layout_parts.any? %>
      <% if false %>
        <div class="border-t border-gray-200 my-6"></div>
      <% end %>
      
      <div class="max-w-5xl">
        <% if false %>
          <div class="max-w-xs pr-10">
            <%= label_tag :layout, class: "font-medium block text-lg" do %>
              Layout content
            <% end %>
            <div class="text-gray-600 text-sm">Global content that does not belong to any one page.</div>
          </div>
        <% end %>
        
        <%= f.fields_for "#{@locale}_content".to_sym, build_parts(f.object, Spina::Current.theme.layout_parts) do |ff| %>
          <%= ff.hidden_field :type, value: ff.object.class %>
          <%= ff.hidden_field :name %>
          <%= ff.hidden_field :title %>
  
          <%= render "spina/admin/parts/#{parts_partial_namespace(ff.object.class.to_s)}/form", f: ff %>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>