<%= form_with model: current_account, url: spina.admin_account_path do |f| %>

  <%= render Spina::HeaderComponent.new do |header| %>
    <%= header.with(:actions) do %>
      <%= button_tag "Save account", type: :submit, class: 'btn btn-primary', data: {controller: "button", action: "button#loading", loading_message: "Saving..."} %>
    <% end %>
  <% end %>
  
  <div class="p-4 md:p-8">
    <div class="max-w-screen-2xl">
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-12">
        <div class="col-span-1">
          <label class="font-medium block">
            <%= Spina::Account.human_attribute_name(:name) %>
          </label>
          <div class="text-gray-600 text-sm">Your website name</div>
        </div>
    
        <div class="col-span-2">
          <div classs="bg-white p-5 shadow-sm rounded-lg border-gray-200 border">
            <%= f.label :name, class: 'font-medium text-sm text-gray-700 block' %>
            <%= render Spina::TextFieldComponent.new(f, :name) %>
          </div>
        </div>
      </div>
        
      <div class="border-t border-gray-200 my-6"></div>
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-12">
        <div class="col-span-1 mt-6 md:mt-0">
          <label class="font-medium block">
            <%= Spina::Account.human_attribute_name(:address) %>
          </label>
          <div class="text-gray-600 text-sm">Optional</div>
        </div>
    
        <div class="col-span-2">
          <div classs="bg-white p-5 shadow-sm rounded-lg border-gray-200 border">
            <div class="">
              <%= f.label :address, class: 'font-medium text-sm text-gray-700 block' %>
              <%= render Spina::TextFieldComponent.new(f, :address) %>
            </div>
            
            <div class="mt-5">
              <%= f.label :postal_code, class: 'font-medium text-sm text-gray-700 block' %>
              <%= render Spina::TextFieldComponent.new(f, :postal_code) %>
            </div>
            
            <div class="mt-5">
              <%= f.label :city, class: 'font-medium text-sm text-gray-700 block' %>
              <%= render Spina::TextFieldComponent.new(f, :city) %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="border-t border-gray-200 my-6"></div>
      
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-12">
        <div class="col-span-1 mt-6 md:mt-0">
          <label class="font-medium block">
            Contact details
          </label>
          <div class="text-gray-600 text-sm">Email and phone</div>
        </div>
    
        <div class="col-span-2">
          <div classs="bg-white p-5 shadow-sm rounded-lg border-gray-200 border">
            <%= f.label :email, class: 'font-medium text-sm text-gray-700 block' %>
            <%= render Spina::TextFieldComponent.new(f, :email) %>
            
            <div class="mt-5">
              <%= f.label :phone, class: 'font-medium text-sm text-gray-700 block' %>
              <%= render Spina::TextFieldComponent.new(f, :phone) %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

<% end %>
