<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>
    
    <link rel="icon" href="<%= image_url('spina/favicon.png') %>" />
    
    <title>Spina CMS</title>
    
    <%= yield(:head) %>
    <%= turbo_include_tags %>
    <%= spina_include_tags %>
    
    <!-- Trix & Tailwind -->
    <%= javascript_pack_tag 'spina', data: {turbolinks_track: true} %>
    
    <%= render Spina::Hooks::HookComponent.new(partial: "head") %>
  </head>

  <body>
    <div class="flex flex-col md:flex-row md:h-screen min-h-screen w-full">
      <%= render Spina::Menu::MainComponent.new %>
      
      <section class="w-full md:overflow-scroll">
        <%= yield %>
      </section>
    </div>
  </body>
</html>