<div data-controller="file-manager">
  <div class="relative">
    <div class="bg-white border-b border-gray-200 p-4 pb-6 md:p-6 md:pl-8 sticky top-0 z-20">
      <div class="flex justify-between items-center">
        <div class="text-xl md:text-2xl font-normal text-gray-800 flex md:items-center flex-col md:flex-row w-full">
          <div class="flex items-center">
            <div class="text-2xl font-normal text-gray-800">
              Images
            </div>
          </div>
        </div>
      </div>
      
      <nav class="-mb-3 mt-4">
        <ul class="inline-flex w-auto rounded-md bg-white">
          <button type="button" class="block px-3 leading-relaxed py-1 hover:text-gray-800 rounded-md text-gray-400 font-medium text-sm flex items-center cursor-default text-gray-900 bg-spina-dark bg-opacity-10" data-action="tabs#show" data-target="tabs.button" data-pane-id="page_content">
            <%= icon("collection", css: "w-5 h-5 mr-2 -ml-1") %>
            Images
          </button>
          <button type="button" class="block px-3 leading-relaxed py-1 hover:text-gray-800 rounded-md text-gray-400 font-medium text-sm flex items-center" data-action="tabs#show" data-target="tabs.button" data-pane-id="page_content">
            <%= icon("reorder", css: "w-5 h-5 mr-2 -ml-1") %>
            Files
          </button>
        </ul>
      </nav>
    </div>
    
    <div class="flex p-4 z-20 absolute top-0 right-0 h-24 items-center md:pr-8">
      <button type="button" class="btn btn-default w-full mr-3" data-action="reveal#toggle">
        <%= icon("folder", css: "w-4 h-4 mr-1 -ml-1") %>
        Add folder
      </button>
      <%= form_with model: [:admin, Spina::Image.new], data: {action: "ajax:success->file-manager#uploaded", file_manager_target: "uploadForm"} do |f| %>
        <div class="relative overflow-hidden">
          <button type="button" class="btn btn-default" data-file-manager-target="uploadButton" data-controller="button" data-loading-message="Uploading...">
            <%= icon("upload", css: "w-4 h-4 -ml-1 mr-1") %>
            <%=t 'spina.images.upload' %>
          </button>
          <%= f.file_field :files, multiple: true, accept: "image/*", class: 'absolute top-0 left-0 block cursor-pointer bottom-0 appearance-none h-full -ml-5', style: "font-size: 0; width: 150%", data: {action: "file-manager#startUpload"} %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="my-8 border-t border-gray-200">
    
    <% @media_folders.each do |media_folder| %>
      <div data-file-manager-target="media-folder" class="flex items-center h-12 hover:bg-white border-b border-gray-200 px-8">
        <%= link_to admin_media_folder_path(media_folder), class: 'flex h-full items-center flex-1' do %>
          <div class="w-8 mr-4 flex justify-center"><%= icon("folder", css: "w-7 h-7 text-spina") %></div>
          <div class="font-medium text-spina flex-1 text-sm">
            <%= media_folder.name %>
          </div>
        <% end %>
        <div class="text-gray-500 text-sm">
          <span><%= media_folder.images.size %></span>
          images
        </div>
        <div class="text-gray-500 text-xs w-32 text-right"><%=l media_folder.created_at, format: :short %></div>
        <div class="">
          <a href="#" class="block py-3 px-4 ml-2 text-gray-500 hover:text-gray-900">
            <%= icon('trash', css: 'w-5 h-5') %>
          </a>
        </div>
      </div>
    <% end %>
    
    <div data-file-manager-target="images">
      <%= render Spina::FileManager::ImageComponent.with_collection(@images) %>
    </div>
  
  </div>
</div>