<%= render Spina::HeaderComponent.new do |header| %>
  <% header.with(:navigation) do %>
    <nav class="-mb-3 mt-4">
      <ul class="inline-flex w-auto rounded-md bg-white">
        
        <% @navigations.each do |navigation| %>
          <%= render Spina::TabLinkComponent.new("#{heroicon('menu-alt-2', style: :solid, class: 'w-3 h-3 mr-1')} #{navigation.label}".html_safe, spina.edit_admin_navigation_path(navigation), active: @navigation == navigation) %>
        <% end %>
        
      </ul>
    </nav>
  <% end %>
<% end %>

<div class="p-4 md:p-8">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-3 md:gap-6">
    <div class="col-span-1">
      <label class="font-medium block">
        <%= @navigation.label %> menu
      </label>
      <div class="text-gray-600 text-sm">Create a menu for your website. Add items and order them however you like.</div>
    </div>

    <div class="col-span-3">
      <div data-controller="sortable" class="px-5">
        <div class="space-y-2" data-sortable-target="list">
          <% @navigation.navigation_items.sorted.each do |navigation_item| %>
            <div class="flex flex-col">
              <div class="btn btn-default max-w-max justify-start pr-2">
                <div data-sortable-handle>
                  <%= heroicon('menu-alt-4', style: :solid, class: 'w-4 h-4 -ml-1 mr-2 text-gray-400') %>  
                </div>
                
                <div class="w-32 truncate text-left"><%= navigation_item.menu_title %></div>
                
                <div class="border-l border-gray-200 pl-2">
                  <%= heroicon('chevron-down', class: 'w-4 h-4 mr-1 text-gray-400') %>
                </div>
              </div>
              
              <% if navigation_item.children.any? %>
                <div class="space-y-2 ml-8 mt-2">
                  <% navigation_item.children.sorted.each do |navigation_item| %>
                    <div class="btn btn-default max-w-max justify-start pr-2">
                      <div data-sortable-handle>
                        <%= heroicon('menu-alt-4', style: :solid, class: 'w-4 h-4 -ml-1 mr-2 text-gray-400') %>  
                      </div>
                      
                      <div class="w-32 truncate text-left"><%= navigation_item.menu_title %></div>
                      
                      <div class="border-l border-gray-200 pl-2">
                        <%= heroicon('chevron-down', class: 'w-4 h-4 mr-1 text-gray-400') %>
                      </div>
                    </div>
                  <% end %>
                  
                
                  <button type="button" class="btn btn-default mt-2 bg-transparent pr-2">
                    <%= heroicon('plus', style: :solid, class: "w-5 h-5 -ml-1 mr-1 text-gray-400") %>
                    <div class="w-32 text-left truncate">Add menu item</div>
                    <div class="pl-2 w-4 mr-3">
                    </div>
                  </button>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        
        <button type="button" class="btn btn-default mt-2 bg-transparent pr-2">
          <%= heroicon('plus', style: :solid, class: "w-5 h-5 -ml-1 mr-1 text-gray-400") %>
          <div class="w-32 text-left truncate">Add menu item</div>
          <div class="pl-2 w-4 mr-3">
          </div>
        </button>
          
      </div>
    </div>
  </div>
</div>
