<%= render Spina::HeaderComponent.new do |header| %>
  <% header.with(:navigation) do %>
    <nav class="-mb-3 mt-4">
      <ul class="inline-flex w-auto rounded-md bg-white">
        <% @navigations.each do |navigation| %>
          <%= render Spina::TabLinkComponent.new("#{heroicon('menu-alt-2', style: :solid, class: 'w-3 h-3 mr-1')} #{navigation.label}".html_safe, spina.edit_admin_navigation_path(navigation), active: @navigation == navigation) %>
        <% end %>
      </ul>
    </nav>
  <% end %>
<% end %>

<div class="p-4 md:p-8">
  <div class="max-w-screen-2xl">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-12">
      <div class="col-span-1">
        <label class="font-medium block">
          <%= @navigation.label %> menu
        </label>
        <div class="text-gray-600 text-sm">Add and sort items as you see fit.<br />You can add nested menu items, but don't have to.</div>
      </div>
    
      <div class="col-span-2">
        <ul class="space-y-2" data-controller="sortable" data-sortable-target="list" id="<%= dom_id(@navigation) %>">
          <%= form_with url: spina.sort_admin_navigation_path(@navigation), data: {sortable_target: "form"} do |f| %>
          <% end %>
          
          <%= render @navigation.navigation_items.sorted.roots %>
        </ul>
        
        <%= link_to spina.new_admin_navigation_navigation_item_path(@navigation), class: 'btn btn-default w-56 mt-2 bg-transparent', data: {turbo_frame: "modal"} do %>
          <%= heroicon('plus', style: :solid, class: "w-6 h-6 -ml-1 mr-1 text-gray-400") %>
          <div class="w-full">Add menu item</div>
        <% end %>
        
      </div>
    </div>
    
    <div class="border-t border-gray-200 my-6"></div>
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-12">
      <div class="col-span-1">
        <label class="font-medium block">
          Reference
        </label>
        <div class="text-gray-600 text-sm">Use this name in your code.</div>
      </div>
    
      <div class="col-span-2">
        <span class="font-mono text-gray-600"><%= @navigation.name %></span>
        
        <div class="text-gray-700 text-sm leading-loose mt-3">
          <span class="font-medium">Example:</span>
          <br />
          <code class="text-gray-500 text-sm bg-gray-200 p-1 px-2 rounded-md">
            Spina::Navigation.find_by(name: "<%= @navigation.name %>")
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
