<%= render Spina::HeaderComponent.new do |header| %>
  <% header.with(:navigation) do %>
    <nav class="-mb-3 mt-4">
      <ul class="inline-flex w-auto rounded-md bg-white">
        
        <% @navigations.each do |navigation| %>
          <%= render Spina::TabLinkComponent.new("#{heroicon('menu-alt-2', style: :solid, class: 'w-3 h-3 mr-1')} #{navigation.label}".html_safe, spina.edit_admin_navigation_path(navigation), active: @navigation == navigation) %>
        <% end %>
        
      </ul>
    </nav>
  <% end %>
<% end %>

<div class="p-8">
  <%= form_with model: @navigation, url: spina.admin_navigation_path(@navigation) do |f| %>
    <span class="font-mono"><%= @navigation.name %></span>
    <%= render Spina::TextFieldComponent.new(f, :label) %>
    
    <div class="bg-gray-200">Add menu item +</div>
  <% end %>
</div>