<div class="flex items-center h-12 border-b border-gray-200 px-8 hover:bg-white group">
  <div class="w-8 mr-4 h-12 flex justify-center">
    <%= image_tag helpers.thumbnail_url(@image), class: "object-contain" %>
  </div>
  <div class="font-medium text-gray-800 flex-1 w-56 text-sm flex items-center relative">
    <span class="truncate"><%= @image.file.filename %></span>
    <div class="absolute opacity-0 group-hover:opacity-100 flex items-center right-0 pr-3">
      <a href="#" class="btn btn-default h-7 px-2 ml-4 text-xs">
        <%= helpers.icon('pencil', css: 'w-4 h-4 mr-1 text-gray-600') %>
        Rename
      </a>
      
      <button type="button" class="btn btn-default h-7 px-2 text-xs" data-action="file-manager#moveToFolder">
        <%= helpers.icon('folder', css: 'w-4 h-4 mr-1 text-gray-600') %>
        Move to folder
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
  <div class="text-gray-500 text-sm whitespace-nowrap">
    <%= helpers.number_to_human_size @image.file.byte_size %>
    <div class="uppercase inline-block ml-2 py-1 rounded-md bg-gray-400 text-white font-semibold px-2 text-xs"><%= @image.file.content_type.split("/").last %></div>
  </div>
  <div class="text-gray-500 text-xs w-32 text-right whitespace-nowrap"><%=l @image.created_at, format: :short %></div>
  <div class="">
    <%= link_to helpers.admin_image_path(@image), class: "block py-3 px-4 ml-2 text-gray-500 hover:text-gray-900", data: {method: :delete, controller: "confirm", confirm_message: "Are you sure? This image <span class='font-semibold'>might</span> be in use on a page."} do %>
      <%= helpers.icon('trash', css: 'w-5 h-5') %>
    <% end %>
  </div>
</div>